p.blurred{
	color: transparent;
	text-shadow: 0 0 5px rgba(0,0,0, 0.5);
	font-size: x-large;
	border: 2px solid black;
	width: 325px;
	padding: 5px;
	text-align: center;
}

p.unblurred{
	font-size: x-large;
	border: 2px solid black;
	width: 425px;
	padding: 5px;
	text-align: center;
}

cite{
	font-style: italic;
}

h2#blurrytext-header{
	color: red;
}

h2#unblurredtext-header{
	font-size: large;
}
h2#blurredtext-header{
	font-size: large;
}

h2#boxstitching-header{
	color: red;
}

h2#unstitchedbox-header{
	font-size: large;
}

h2#stitchedbox-header{
	font-size:large;
}

p.unstitched{
	padding: 20px;
	margin: 10px;
	background: #ff0030;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	border: 2px solid #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	text-shadow: -1px -1px #aa3030;
	font-weight: normal;
	width: 250px;
}

p.stitched{
	padding: 20px;
	margin: 10px;
	background: #ff0030;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	border: 2px dashed #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	text-shadow: -1px -1px #aa3030;
	font-weight: normal;
	width: 250px;
}
